@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@RenderPage("~/Views/Template/_CreateEdit.cshtml") 

@section Scripts { 
    <script type="text/javascript">
        require(["printReduction/templateControllerClass", "dojo/domReady!"], function (templateController) {
            var template = new templateController();

            template.edit();
        });
        
    </script>
}